# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/src/pages/Godan
/src/pages/GtBank
/src/pages/Quantum
/src/pages/Ricia
/src/pages/Spaceet
/src/assets/images/Godan
/src/assets/images/Gtbank
/src/assets/images/Quantum
/src/assets/images/Ricia
/src/assets/images/Spaceet