.container {
  border-radius: 20px;
  justify-content: space-evenly;
  align-items: center;
  width: 50rem;
  padding: 0.8rem;
  background: rgba(255, 255, 255, 0.1);
  margin: 1rem auto 0 auto;
}
body[class*="light"] .container {
  background: rgba(34, 34, 34, 0.2);
}
/* .container > div:not(.circle), */
.container > a {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.5s;
  width: 60px;
  height: 60px;
}
.dark {
  transition: all 0.5s;
}
.dark p {
  transition: 1.5s ease-in-out;
}
.circle {
  border: 5px solid rgba(255, 255, 255, 0.27);
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.circle img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  /* transform: rotate(5deg); */
}
.line {
  display: inline-block;
  width: 2px;
  height: 60px;
  background: rgba(196, 196, 196, 0.52);
}
.container p {
  position: absolute;
  display: none;
  top: -30px;
  font-size: 10px;
}
.github img {
  width: 30px;
}
.container > div:hover > p,
.container > a:hover > p {
  display: block;
}
.container > div:hover:not(.circle),
.container > a:hover {
  transform: scale(1.2);
  border-radius: 50%;
}
.home:hover ~ .projects,
.projects:hover ~ .github,
.blog:hover ~ .behance,
.behance:hover ~ .linkedIn,
.linkedIn:hover ~ .twitter,
.twitter:hover ~ .mail,
.mail:hover ~ .dark,
.dark:hover ~ .dark {
  transform: scale(1.1);
}
