.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px 35px;
}
body[class*="light"] .card img{
  border: 2px solid rgb(161, 155, 155);
}
.card img {
  width: 298.03px;
  height: 242px;
  margin: 30px 0;
  border-radius: 10px;
  object-fit: contain;
}
.card p {
  font-size: 20px;
  width: 90%;
}

.card span {
  font-size: 13px;
}
